.marker {
  width: 70px;
  background-color: rgb(0, 110, 255);
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  padding: 4px 0;
  font-size: 18px;
}

.marker.selected {
  background-color: pink;
  border-color: black;
}
